{% extends "index.html" %}

<!------------------------------------------------------------------------------------------>
<!-------------------------------      Content start      ---------------------------------->
<!------------------------------------------------------------------------------------------>
{% block content %}
<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Resultado del análisis de video</h5>
    </div>
    <div class="card-body">
        <video autoplay="autoplay" controls="controls" preload="preload" class="parent-width">
			<source src="{{ url_for('display_video', filename = filename) }}" type="video/mp4"></source>
		</video>
        <a href="/"><button class="btn btn-primary my-4 w-50" type="button">Regresar</button></a>
        
    </div>
  </div>
</div>
{% endblock %}
<!------------------------------------------------------------------------------------------>
<!------------------------------        Content end        --------------------------------->
<!------------------------------------------------------------------------------------------>
